name: Build HAProxy in SquashFS Image and Release

on:
  workflow_dispatch:
    inputs:
      git_repo_url:
        description: 'Git repository URL to clone'
        required: true
        default: 'http://git.haproxy.org/git/haproxy-2.4.git'
      tar_url:
        description: 'URL to .tar image containing squashfs.tmp and vmlinux.tmp'
        required: true
        default: 'https://dl.ui.com/firmwares/edgemax/3.0.1/ER-e300.v3.0.1.5862409.tar'
      release_tag:
        description: 'Tag name for GitHub release'
        required: true
        default: 'auto-build'

  push:
    paths:
      - .github/workflows/haproxy-edgeos.yml

jobs:
  build-in-chroot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout workflow
        uses: actions/checkout@v3

      - name: Set variables
        id: vars
        run: |
          echo "GIT_REPO=${{ github.event.inputs.git_repo_url || 'http://git.haproxy.org/git/haproxy-2.4.git' }}" >> $GITHUB_ENV
          echo "TAR_URL=${{ github.event.inputs.tar_url || 'https://dl.ui.com/firmwares/edgemax/3.0.1/ER-e300.v3.0.1.5862409.tar' }}" >> $GITHUB_ENV
          echo "RELEASE_TAG=${{ github.event.inputs.release_tag || 'auto-build' }}" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            qemu-user-static \
            debootstrap \
            squashfs-tools \
            git \
            wget \
            curl \
            build-essential \
            gcc \
            g++ \
            make \
            cmake \
            automake \
            autoconf \
            file \
            binutils \
            libssl-dev

      - name: Prepare rootfs with OverlayFS
        run: |
          mkdir -p /tmp/rootfs/lower /tmp/rootfs/upper /tmp/rootfs/work /tmp/rootfs/merged
          cd /tmp/rootfs
          wget -qO rootfs.tar "$TAR_URL"
          tar xf rootfs.tar
          # Move squashfs.tmp to lower layer
          mv squashfs.tmp lower/squashfs.tmp
          sudo mount -o loop /tmp/rootfs/lower/squashfs.tmp /tmp/rootfs/lower
          # Mount overlay
          sudo mount -t overlay overlay \
            -o lowerdir=/tmp/rootfs/lower,upperdir=/tmp/rootfs/upper,workdir=/tmp/rootfs/work \
            /tmp/rootfs/merged

      - name: Detect architecture and bits
        id: arch
        run: |
          FILE_INFO=$(file -b /tmp/rootfs/merged/bin/bash)
          echo "FILE_INFO: $FILE_INFO"
          ARCH=""
          BITS=""
          case "$FILE_INFO" in
            *x86-64*)
              ARCH=x86_64
              BITS=64
              QEMU_BIN=qemu-x86_64-static
              ;;
            *i386*|*Intel*)
              ARCH=i386
              BITS=32
              QEMU_BIN=qemu-i386-static
              ;;
            *ARM*|*arm*)
              ARCH=arm
              BITS=32
              QEMU_BIN=qemu-arm-static
              ;;
            *aarch64*)
              ARCH=aarch64
              BITS=64
              QEMU_BIN=qemu-aarch64-static
              ;;
            *MIPS64*)
              ARCH=mips64
              BITS=64
              QEMU_BIN=qemu-mips64-static
              ;;
            *MIPS*)
              ARCH=mips
              BITS=32
              QEMU_BIN=qemu-mips-static
              ;;
            *)
              echo "Unsupported architecture: $FILE_INFO"
              exit 1
              ;;
          esac
          echo "ARCH=$ARCH" >> $GITHUB_ENV
          echo "BITS=$BITS" >> $GITHUB_ENV
          echo "QEMU_BIN=$QEMU_BIN" >> $GITHUB_ENV
          echo "RELEASE_NAME=haproxy-latest-${ARCH}-${BITS}-hybrid" >> $GITHUB_ENV

      - name: Bind QEMU into chroot
        run: |
          sudo mkdir -p /tmp/rootfs/merged/usr/bin
          sudo touch /tmp/rootfs/merged/usr/bin/$QEMU_BIN
          sudo mount --bind /usr/bin/$QEMU_BIN /tmp/rootfs/merged/usr/bin/$QEMU_BIN

      - name: Configure apt sources for Debian Stretch
        run: |
          sudo chroot /tmp/rootfs/merged /bin/bash -c "echo 'deb http://archive.debian.org/debian stretch main contrib non-free' > /etc/apt/sources.list"
          sudo chroot /tmp/rootfs/merged /bin/bash -c "echo 'deb http://archive.debian.org/debian-security stretch/updates main contrib non-free' >> /etc/apt/sources.list"
          sudo chroot /tmp/rootfs/merged /bin/bash -c "echo 'Acquire::Check-Valid-Until \"false\";' > /etc/apt/apt.conf.d/99no-check-valid-until"
          sudo chroot /tmp/rootfs/merged /bin/bash -c "apt-get -o Acquire::AllowInsecureRepositories=true -o Acquire::AllowDowngradeToInRelease=false update"


      - name: Install build tools in chroot
        run: |
          sudo chroot /tmp/rootfs/merged /bin/bash -c "DEBIAN_FRONTEND=noninteractive apt-get install -y build-essential git wget curl cmake automake autoconf libssl-dev"

      - name: Clone and build HAProxy
        run: |
          sudo chroot /tmp/rootfs/merged /bin/bash -c "
            cd /tmp
            git clone $GIT_REPO
            repo_name=\$(basename $GIT_REPO .git)
            cd \$repo_name
            make CFLAGS='-O2' LDFLAGS='-Wl,-Bstatic -lpcre -lssl -lcrypto -Wl,-Bdynamic'
            mkdir -p /tmp/output
            cp -v *.so *.a haproxy /tmp/output/ || cp -v * /tmp/output/ || true
          "

      - name: Cleanup rootfs
        run: |
          sudo umount /tmp/rootfs/merged || true
          sudo umount /tmp/rootfs/lower || true

      - name: Upload binaries as release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.RELEASE_TAG }}
          name: ${{ env.RELEASE_NAME }}
          artifacts: /tmp/output/*
          overwrite: true
